<table class="table">
    <thead>
        <tr>
            <td>UserName </td>
            <td>Email</td>
            <td>Student</td>
            <td>Teacher</td>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
