@model Learning_Management_System.Repositories.AccountRepository.LoginModel
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;"></h5>
            <h1>Log In</h1>
            <a asp-action="Register" asp-controller="User">Create new account</a>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-secondary rounded p-5">
                    <div id="success"></div>
                    <p>Example Account: tanphat@example.com</p>
                    <p>Password: TanPhat123.</p>
                    <form asp-action="Login" novalidate="novalidate">
                        <div class="control-group">
                            <input asp-for="Email" type="text" class="form-control border-0 p-4" id="name" placeholder="Email" required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input asp-for="Password" type="password" class="form-control border-0 p-4" id="subject" placeholder="Password" required="required" data-validation-required-message="Please enter password" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <br />
                        <p class="text-danger">@ViewBag.Message</p>
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact End -->