@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Come Teach With Us.</h1>
    <p>Learn about how to teach.</p>
    <a  asp-controller="User" asp-action="RegisterTeacher"> Join with us.</a>
</div>