<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Thank You</title>
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">

                <h2 class="display-4">Thank You!</h2>
                <p class="lead">We appreciate your support and business. If you have any questions, feel free to contact us.</p>
                <a asp-action="MyLearning" asp-controller="User" asp-route-userId="@User.Claims.First().Value" class="btn btn-primary btn-lg">My Courses</a>
            </div>
        </div>
    </div>
</body>
</html>
